<div class="container" style="display: inline-block;">
    <div class="row">
        <h1></h1>
        <div class="navbar navbar-dark bg-dark" style="margin-top:-28px;display: inline-block;margin-left: 40px;">
            <div class="navbar-nav" >
                <li >
                    <a routerLink="/restaurant" style="display: inline-block;" class="navitem nav-link"><i class="fa fa-plus-cirlce">Home </i>
                        </a>
                            ||||
                           
                        <span class="title"> {{title}}</span>
                       
                </li>
                <li >
                    
                </li>
            </div>
        </div>
    </div>
</div>
